.tweetpage{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* background-color: cadetblue; */
    height: 100vh;
    margin:5px,200px;
    padding: 4px;
   
}
.tweetpage > div{
    background-color: white;
    width: 400px;
    padding: 0px;
    margin: 0 20px ;
    /* height:100%; */
    align-items: stretch;
}
.middle{
   flex-grow:1
}
.left{
   
}
.menu{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    /* width: 25%; */
    height: 100%;
    position: fixed;
    margin-left: 6%;
    background-color: transparent;
}
.menu1 li:hover{
    color: rgb(29 161 242);
    background-color:rgb(182, 227, 245);

}
.menu li {
    display: flex;
    align-items: center;
    height:40px;
    border-radius: 9999px;
    background-color: transparent;
    padding:6px 14px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    font-size: 20px;
    font: weight 2000px;;
    width: fit-content;

}
li i{
    margin-right: 15px;
}
.logo img{
    width:40px;
    display: inline-block;
    
}
.SVG{
    height:25px;
}
.more a{
    margin-left: 15px;
}
.buttonTweet{
    width: 200px;
    height:40px;
    color:white;
    background-color: rgb(92, 157, 236);
    border: none;
    border-radius: 9999px;
    font-size: 20px;
}
.user{
    margin-top: 180px;
    margin-bottom: 0px;
}
.user .account{
    font-size: 16px;
    font-weight: bold;
    
}
.userName{
    font-weight:lighter;
    margin-left: 37px;
    font-size: 16px;
    margin-top:0px;
}

#more-o{
    margin-left: 28px;
}

.middle{
    margin-left: 28%;
    width: 450px;
    height: 100%;
    /* margin-top: 10px; */
    border: 1px solid rgb(247, 243, 243);
    flex-grow: 1;
}
#profileTitle{
    display:flex;
    flex-direction: row;
    padding-top: 4px;
}
#profileArrow{
    color: rgb(20, 170, 230);
    padding-right: 14px;
}
#userName{
    font-weight: bolder;
    color: black;
    font-size: 25px;
}
#profileTweets{
    color: rgb(103, 99, 99);
    font-size: 14px;
}
#backgroundPic{
    background-color: rgb(225 232 237);
    height:150px;
}
#profileImg{
    width: 90px;
    height:90px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin-top: -60px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profileImg i{
    font-size: 80px;
    color:rgb(170 184 194) ;
  
}
#profileButton{
    width:120px;
    height:40px;
    border-radius: 9999px;
    border: 1px solid rgb(54, 147, 228) ;
    color: rgb(54, 147, 228) ;
    position: relative;
    left:450px;
    background-color: white;
}
#secUserDescrip {
    margin: 0px 8px;

}
#nameSecProfile{
    font-weight: bolder;
    font-size: 25px;

}
#dateJoined{
    color: rgb(170 184 194
    )    ;
    display: inline-flex;
    padding: 10px 8px;
} 
#follows a {
    
    color:rgb(170 184 194) ;
    text-decoration: none;
}
#num{
    font-weight: bold;
    color: black;
    margin:10px 10px;
}
#follows a:hover{
    text-decoration: underline;
}
#profileNav li {
    list-style-type: none;
    /* display:inline; */
    
    float:left;
    /* padding:0px 30px ; */
    font-size: 20px;
    /* height:100%; */
    
   
}
#profileNav a{
    display: block;
    text-decoration: none;
    color: black;
    height: 40px;
    padding: 0px 30px;
    
}
#profileNav{
    margin-top: 30px;
    border-bottom: 1px solid rgb(182, 179, 179);
    height: 40px;
   

}
#profileNav li:hover{
    color: rgb(56, 153, 238);
    background-color: rgb(190, 225, 236);
    cursor: pointer;
}
#profileWhoToFollow{
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    border-bottom: 1px solid #c4c3c3;
    margin-top: 10px;
    
}
#profileWhoToFollow >span{
    margin-left: 10px;
}
#whoToFollowContainer{
    border-bottom: 1px rgb(239,243,244);
    width: 100%;
    
    /* background-color: blueviolet; */
}
#whoToFollowContainer:hover{
    background-color: rgb(225 232 237);
    cursor: pointer;
}
#whoToFollowContent{
    padding: 12px 16px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    white-space: normal;
    /* width: 100%; */
    /* background-color:green; */
}
#whoToFollowDetails{
    display: flex;
    flex-direction: row;
    

}
#profileUserIcon{
    margin-right:8px;
    flex-basis:48px;
    flex-grow: 0;
    align-items:flex-end
}
#whoToFollowUserName{
    display: flex;
    
    flex-grow:1;
    flex-basis: 0px;
    
}
#whoToFollowUserName > span{
    color: grey;
    font-weight: bold;
    flex-direction: row;
    flex-basis: auto;
    font-size: 12px;
    
}
#userRepresentation{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    width: 450px;

}
#fakePicIcon{
    font-size: 48px;
}
#representationStory{
    display: flex;
    flex-direction: column;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border-bottom: ;
}
#representationStoryTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: 12px;
}
#representationStoryButton{
    align-self: flex-end;
    position: relative;
    left: 100px;
    border-radius: 9999px;
    color: rgb(99, 202, 243);
    border: 1px solid skyblue;
    font-size: 14px;
    height: 25px;
    width: 60px;

}
#representationStoryBottom{
    font-size: 16px;
    margin-top: 5px;
    position: relative;
    left: 12px;
    font-style: normal;
}


.right{
    /* margin-left:64%; */
    width:70%;
    margin-right:20px;
    margin-top:0;
    
   

}

.trends{
    background-color:rgb(245 248 250) ;
    height: fit-content;
    border: none;
    border-radius: 5%;
    margin-right: 50px;
    margin-top: 0;
    
   
}
.trends li{
    list-style-type: none;
   
}
.trends ul:hover{
    background-color: rgb(225 232 237);
    border-top:1px solid rgb(225 232 237);
    cursor:pointer;
}
.trends ul{
    margin-top: 4px;
    border-top:1px solid rgb(225 232 237);
    
    cursor: pointer;
}
.trends ul span{
    font-weight: bold;
}
.trends  ul li  .material-icons{
    position: relative;
    left:80px;
    
}
.showMore{
    
    text-decoration: none;
    margin-bottom: 30px;
    height:40px;
    padding-bottom: px;
   
}
.trendTopic{
    position: relative;
    left:40px;
    top:10px;
    border-bottom: 1px solid rgb(225 232 237);
    height:40px
}
.trendTopic > i{
    color: rgb(191, 233, 245);
    position: relative;
    left:206px;
    top:-38px;
    background-color: transparent;
    height:30px;
    width: 30px;
    border-radius: 50%;
    
}
.trendTopic > i:hover {
    background-color: rgb(172, 223, 243);
}
.whoToFollow{
    background-color:rgb(245 248 250) ;
    height: fit-content;
    border: none;
    border-radius: 5%;
    margin-right: 50px;
    margin-top: 0px;
    padding:5px
   
}
.Follow{
    list-style: none;
    /* position: relative;
    left: 80px;
    bottom:60px; */
    margin-top: 4px;
    border-top:1px solid rgb(225 232 237) ;
    display:flex;
    flex-direction: row; 
    align-items: center;
    flex-basis: auto;
    box-sizing: border-box;
    justify-content:space-around;
    font-size: 15px;
    margin-left: 4px;
    
}
.Follow:hover{
    background-color:rgb(225 232 237) ;
    cursor: pointer;
}
.ToFollowTopic{
    position: relative;
    left:40px;
}
.firstPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    position: relative;
    left: 40px;
}
.secondPart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;

}
.secondPart div li{
    max-width:100% ;
    flex-shrink: 1;
}
.Follow li , .showMore{
    list-style-type: none;
}
.whoToFollow ul:hover{
    
}
.citizenLogo, .bitcoinLogo,.dp{
    width:50px;
   height:50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    position: relative;
    right:4px

    
    
    
}
.citizenLogo img{
    width:50px;
    /* margin-right: 5px; */
    position: relative;
    right:4px
    
}
.bitcoinLogo{
    width: 50px;
    position: relative;
    right:4px
}
.followButton button{
    border-radius: 9999px;
    color: rgb(48, 185, 240);
    border: 1px solid rgb(48, 185, 240) ;

}
.dp i{
    
    align-self: center;
    width:400px;
    font-size:40px;
    color:grey;
    position: relative;
    left: 4px;
    

}
.followShowMore{
    position: relative;
    right:110px;
    text-decoration: none;
}

.topicsToFollow{
    background-color: rgb(245 248 250);
    height: fit-content;
    border: none;
    border-radius: 5%;
    margin-right: 50px;
    margin-top: 20px;
    padding:5px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    font-weight: bold;
    position: relative;

}
#topic ul li{
   list-style-type: none;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   width:130px;
}
#topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.rightPart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    
   
   
}
.topicsButton button{
    color: rgb(90, 197, 240);
    border-radius: 9999px;
    border:1px solid rgb(48, 185, 240) ;
    display: flex;
    justify-self: flex-end;
}